body{
    background-color: lightyellow;
    columns: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}

#main-header{
    background-image: url("palmas.jpg");
    color: lightyellow;
}
#navbar{
    background-color: black;
    color: black;
}

#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: lightyellow;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
#showcase{
    background-image: url("palm.jpg");
    background-position: center left;
    height: 300px;
    margin-bottom: 30px;
    text-align: left;
}
#showcase h1{
    color: lightyellow;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}
#main{
    float: left;
    width: 70%;
    padding:30px;
    box-sizing: border-box;
    color: black;
    height: 300px;
    color: lightyellow;
}


#sidebar{
    float: right;
    width: 30%;
    background: black;
    color: #fff;
    padding:10px;
    box-sizing: border-box;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-display: center;
}


.box h1{
    clear: none;
    background-image: url(palmas.jpg);
    color: black;
    width: 100%;
    padding: 40px;
    height: 100px;
    text-align: center;

}
.block{
    display: inline-block;
    float: left;
    width: 33.3%;
    margin-top: 100px;
    padding:40px;
    height: 400px;
    box-sizing:border-box;
    background-image: url(5v.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;   
}
.block2{
    display: inline-block;
    float: left;
    width: 33.3%;
    margin-top: 100px;
    padding:40px;
    height: 400px;
    box-sizing:border-box;
    background-image: url(v1.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.block3{
    display: inline-block;
    float: right;
    width: 33.3%;
    padding:40px;
    height: 400px;
    margin-top: 100px;
    box-sizing:border-box;
    background-image: url(5v.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;

}
.radio{
    display: inline-block;
    float: left;
    width: 52%;
    padding:40px;
    height: 320px;
    margin-top: 40px;
    box-sizing: border-box;
    border-bottom: 1px double #171717;
	border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
    background-image: url(realpalm.jpg);
    font-family: bold;
    font-size: 25px;
    background-position: left;
}
.radio h2{
    margin-top: 1px;
}

.radio label{
    font-size: 20px;
    line-height: 2.5
    width: 100px;
}
#sidebar2{
    display: inline-block;
    float: right;
    width: 33%;
    padding: 40px;
    height: 220px;
    margin-top: 60px;
    box-sizing:border-box;
    text-align: center;
    font-family: bold;
    font-size: 25px;
    background-color:rgb(148, 94, 87);
    color: lightyellow;
}

.add button{
    background-color: black;
    color:#fff;
    padding: 10px;
    display: block;
    margin: 0 auto;
    size: 30px;
}

.add{
    color:#fff;
    margin-top: 1060px;
    background-image: url(tropical-background.jpg);
}
.add h2{
    color: black;
    text-align: center;
}
.button{
    background-color: black;
    color:#fff;
    padding: 20px;
    margin: 30px;
    text-align: center;
}
.square{
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 5px;
    float: left;
    color: blanchedalmond;
    text-align: center;
    line-height: 30px;
    border: 2px solid black;
    box-sizing: border-box;
}
.circle{
    background-color: white;
    border-radius: 50%;
    color: black;
    border: 2px solid black;
}

 #main-footer{
    color: black;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    clear: both;

}
