h1{
    color: aquamarine;

}

body{
    background-color: darkgray;

}

a{
    text-decoration:none;
    color:#000;
}
a:hover{
    color:blue;
}

a:active{
    color:yellowgreen;
}

a:visited{
    color:gray
}

.container{
width: 80%;
margin: auto;
}
.clr{
    clear: both;
}

.box-1{
    background-color: dimgray;
    border-right:10px mediumaquamarine groove;
    border-left:10px mediumaquamarine groove;
    border-top:10px mediumaquamarine groove;
    border-bottom:10px mediumaquamarine groove;
    /* same as above */
    border: : 10px mediumaquamarine groove;

    
    padding:20px;
    margin:20px;
}
.box-2{
    background-color: dimgray;
    border-right:10px mediumaquamarine dotted;
    border-left:10px mediumaquamarine dotted;
    border-top:10px mediumaquamarine dotted;
    border-bottom:10px mediumaquamarine dotted;
    

    
    padding:20px;
    margin:20px;
}

.categories{
    border:5px #ccc solid;
    padding: 5px;
    border-radius: 5px;
}
.categories h2{
    text-align:center;
}
.categories ul{
    padding:0;
    list-style-type: none;
}

.categories li{
    padding-bottom: 20px;
    border-bottom: dotted 1px #000;
    list-style-image: url('images/Check1.png');
}

.my-form{
    padding: 20px;
    margin: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display:block;
}

.my-form input{
    padding:8px;
    width:100%;
}
.button{
    background-color: black;
    color:#fff;
    padding:10px, 15px;
    border:none;
}
.block{
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding:40px;
    box-sizing: border-box;
    

}
.main-block{
    float: left;
    width: 30%;
    padding:20px;
    box-sizing: border-box;
    margin: 10%;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: darkslategray;
    color:#fff;
    padding:15px;
    box-sizing: border-box;
    
}
.p-box{
    display: inline-block;
    float: right;
    width:900px;
    height: 500px;
    margin:40px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url(images/bg.jpg);
    background-position: 100px 200px;
    background-position: center center;
}


}
.My-list li:first-child{
background: yellow;
}
.My-list li:last-child{
    background: yellowgreen;
}
.My-list li:nth-child(2){
    background: orange;
}
.My-list li:nth-child(even){
    background: rgb(208, 255, 0);
    }